.save{
    font-size: .75rem;
    padding: 8px 10px;
    border-radius: 5px;
    box-shadow: 11px 20px 14px -12px rgba(0,0,0,0.61);
    -webkit-box-shadow: 11px 20px 14px -12px rgba(0,0,0,0.61);
    -moz-box-shadow: 11px 20px 14px -12px rgba(0,0,0,0.61);
    cursor: pointer;
}
@media screen and (min-width:425px){
    .save{
        padding: 0.5rem;
    }
} 
 @media screen and (min-width:375px){
    .save{
        padding:6px;
        height: 2rem;
    }
}