.container{
    border: none;
    display: flex;
    gap: .25rem;
    outline: none;
}
.container label{
    font-weight: 400;
    text-align-last: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: 'Nunito', sans-serif;
}
.container input{
    border: none;
    outline: none;
    cursor: pointer;
}
@media screen and (min-width:375px){
    .container label{
        font-size: 1rem;
        text-align: start;
        
    }
    .container input{
        width: 2rem;
        
    }

}
